.*
tflite/bootloader/
tflite/modules/
tflite/tools/
tflite/zephyr/
tflite/build*
tflite/log.log
tiny_ml/
*pycache*
Results/
*utils/datasets.py
*.cc
#*.tflite
*.h5
tests-resnet.ipynb
tests-tflite.ipynb
test-pyserial.ipynb
can-be-deleted-later.ipynb
train-conv1d-network.ipynb
train-resnet.ipynb
/measure_energy_consumption.ipynb
datasets/downloads/
README.txt
nrf-command-line-tools*
*.ipynb_checkpoints
get_ops.py
*build*
*power_*
venv
*airway*
*venv*
tflite/optional/*

datasets/data/*
baselines/SpokeN-100
baselines/airway
*EvoVis*
datasets/cifar10
datasets/emg_airob
*.keras

*.err
*.out
