.*
tflite/bootloader/
tflite/modules/
tflite/tools/
tflite/zephyr/
tflite/build/
tflite/log.log
tiny_ml/
*pycache*
Results/
datasets/*dataset
*utils/datasets.py
*.cc
*.tflite
*.h5
tests-resnet.ipynb
tests-tflite.ipynb
test-pyserial.ipynb
can-be-deleted-later.ipynb
train-conv1d-network.ipynb
train-resnet.ipynb
/measure_energy_consumption.ipynb
