absl-py
aiohttp
aiosignal
alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.1
astroid==2.12.10
asttokens==2.0.8
astunparse
async-timeout
attrs
audioread==3.0.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.4
breathe==4.34.0
Brotli==1.0.9
brotlipy
cached-property
cachetools
canopen==2.0.0
capstone==4.0.2
cbor==1.0.0
cbor2==5.4.3
certifi
cffi
charset-normalizer
clang-format==14.0.6
click==8.0.3
cmsis-pack-manager==0.4.0
colorama==0.4.5
colour==0.1.5
contourpy==1.0.5
coolname==1.1.0
coverage==6.5.0
cryptography
cycler==0.11.0
dash==2.6.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.5.1
docopt==0.6.2
docutils==0.17.1
entrypoints==0.4
etils==0.8.0
executing==1.1.0
fastjsonschema==2.16.2
flammkuchen==1.0.2
Flask==2.2.2
Flask-Compress==1.13
flatbuffers
fonttools==4.37.3
frozenlist
future==0.18.2
gast
gcovr==5.2
gitlint==0.17.0
gitlint-core==0.17.0
GitPython==3.1.42
google-auth
google-auth-oauthlib
google-pasta==0.2.0
googleapis-common-protos
GPUtil==1.4.0
graphviz==0.20.1
grpcio
grpcio-tools
h5py
hydra-core==1.3.2
idna
imagesize==1.4.1
imgtool==1.9.0
importlib-metadata
importlib-resources==5.9.0
iniconfig==1.1.1
intelhex==2.3.0
intervaltree==3.1.0
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.2.0
jsonschema==4.16.0
junit2html==30.1.3
junitparser==2.8.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kapre==0.3.5
keras
Keras-Preprocessing
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
libclang==14.0.6
librosa==0.9.2
libusb-package==1.0.26.0
littleutils==0.2.2
llvmlite==0.39.1
lpc-checksum==2.2.0
lxml==4.9.1
Markdown
MarkupSafe
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.7.0
milksnake==0.1.5
mistune==2.0.4
mock==4.0.3
msgpack==1.0.4
multidict
mypy==0.981
mypy-extensions==0.4.3
natsort==8.2.0
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
nest-asyncio==1.5.5
notebook==6.4.12
numba==0.56.2
numexpr==2.8.3
numpy==1.23.3
nvidia-ml-py3==7.352.0
nvidia_smi
oauthlib
opt-einsum
packaging
pandas==1.5.0
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
plotly==5.10.0
pluggy==1.0.0
ply==3.11
pooch==1.6.0
ppk2-api
prettytable==3.4.1
progress==1.6
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.31
protobuf
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11==2.10.0
pycparser
pydot==1.4.2
pydub==0.25.1
pyelftools==0.29
PyGithub==1.55
Pygments==2.13.0
PyJWT
pykwalify==1.8.0
pylink-square==0.14.2
pylint==2.15.3
PyNaCl==1.5.0
pyocd==0.34.1
pyOpenSSL
pyparsing
pyrsistent==0.18.1
pyserial==3.5
PySocks
pyTelegramBotAPI==4.16.1
pytest==7.1.3
python-can==4.0.0
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2022.2.1
pyu2f
pyusb==1.2.1
PyYAML
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.0
requests
requests-oauthlib
resampy==0.4.2
rsa
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.1
Send2Trash==1.8.0
sh==1.14.2
six
snowballstemmer==2.2.0
sorcery==0.2.2
sortedcontainers==2.4.0
SoundFile
soupsieve==2.3.2.post1
Sphinx==5.2.2
sphinx-copybutton==0.5.0
sphinx-notfound-page==0.8.3
sphinx-rtd-theme==1.0.0
sphinx-tabs==3.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-svg2pdfconverter==1.2.0
stack-data==0.5.1
tables==3.7.0
tabulate==0.8.10
tenacity==8.1.0
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons==0.18.0
tensorflow-datasets==2.1.0
tensorflow-estimator
tensorflow-gpu==2.9.1
tensorflow-io==0.25.0
tensorflow-io-gcs-filesystem==0.25.0
tensorflow-metadata==1.10.0
termcolor
terminado==0.15.0
tf-estimator-nightly==2.8.0.dev2021122109
tflite-support==0.1.0a1
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typeguard==2.13.3
typing_extensions
urllib3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
west==0.14.0
widgetsnbextension==4.0.3
wrapt
yarl
zipp

# Optional: search strategy backends
# pip install ax-platform   # for search_strategy=ax (Bayesian optimization; pulls in PyTorch + BoTorch)
pymoo                       # for search_strategy=pymoo (NSGA-II multi-objective)
